<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">Web Developement Assignment</h2>
  <hr>  <br>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2020 @JavaGuides</span><br>
      <span>Made By: Purboshi Das (RA1811028010036) || Nandini Chourasia (RA1811028010037) || Poojitha Yata (RA1811028010072)</span>
  </div>
</footer>